@charset "utf-8";

/* reset */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
html {
  font-family: "Avenir Next", Verdana, "Curation-Fonts", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
body {
	line-height: 1.4;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	margin: .67em 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 10px;
	font-size: 1rem;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
  font-family: inherit;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border: 0 none;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
	        appearance: textfield;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	        appearance: none;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}

/* base */
html {
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 11px;
	font-size: 1.1rem;
}
h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, dt, dd {
	margin: 0;
	padding: 0;
	word-break: break-all;
	font-weight: normal;
}
ul, ol {
	list-style: none;
	list-style-image: none;
}
a {
	display: block;
	word-break: break-all;
	text-decoration: none;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
}
tr {
	display: table-row;
	position: relative;
	vertical-align: middle;
}
td, th {
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}
img {
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}
textarea, select, input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
button {
	-webkit-touch-callout: none;
}

#app {
	position: relative;
	height: 100%;
}

.TapHelper {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Utility */
/* typography */
.u-fs10 {
	font-size: 10px;
	font-size: 1rem;
}
.u-fs11 {
	font-size: 11px;
	font-size: 1.1rem;
}
.u-fs12 {
	font-size: 12px;
	font-size: 1.2rem;
}
.u-fs14 {
	font-size: 14px;
	font-size: 1.4rem;
}
.u-fs15 {
	font-size: 15px;
	font-size: 1.5rem;
}
.u-fs16 {
	font-size: 16px;
	font-size: 1.6rem;
}
.u-fs20 {
	font-size: 20px;
	font-size: 2rem;
}
.u-fs21 {
	font-size: 21px;
	font-size: 2.1rem;
}
.u-fs24 {
	font-size: 24px;
	font-size: 2.4rem;
}
.u-fs30 {
	font-size: 30px;
	font-size: 3rem;
}

.u-underline {
	text-decoration: underline;
}
.u-lighter {
	font-weight: lighter;
}
.u-normal {
	font-weight: normal;
}
.u-bold {
	font-weight: bold;
}
.u-textleft {
	text-align: left;
}
.u-textCenter {
	text-align: center;
}
.u-textRight {
	text-align: right;
}
.u-verticalTop {
	vertical-align: top;
}
.u-verticalMiddle {
	vertical-align: middle;
}
.u-verticalBottom {
	vertical-align: bottom;
}
.u-verticalBaseline {
	vertical-align: baseline;
}
.u-verticalTextBottom {
	vertical-align: text-bottom;
}
.u-baseTextShadow {
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* dimension */
.u-fill {
	width: 100%;
}
.u-half {
	width: 50%;
}
.u-quarter {
	width: 25%;
}
.u-third {
	width: 33.33%;
}
.u-twoThirds {
	width: 66.66%;
}

.u-h10 {
	height: 10px;
}
.u-h20 {
	height: 20px;
}
.u-h50 {
	height: 50px;
}
.u-h100 {
	height: 100px;
}
.u-h150 {
	height: 150px;
}
.u-h200 {
	height: 200px;
}

/* display */
.u-table {
	display: table;
	table-layout: fixed;
	position: relative;
}
.u-row {
	display: table-row;
}
.u-cell {
	display: table-cell;
}
.u-inline {
	display: inline;
}
.u-inlineBlock {
	display: inline-block;
}

/* position */
.u-relative {
	position: relative;
}
.u-absolute {
	position: absolute;
}
.u-fixed {
	position: fixed;
}

/* state */
.u-block {
	display: block;
}
.u-none {
	display: none;
}
.u-hidden {
	visibility: hidden;
}

/* media_float */
.u-oh {
	overflow: hidden;
}
.u-fl {
	float: left;
}
.u-fr {
	float: right;
}

/* clearfix */
.u-cf::before,
.u-cf::after {
	content: "";
	display: table;
}
.u-cf::after {
	clear: both;
}
.u-cf {
	*zoom: 1;
}

/* img_replacement */
.u-ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* rotate */
.u-trsfR180 {
	-webkit-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

.u-overflowHidden {
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
}

.u-ellipsis {
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.u-breakAll { word-break: break-all; }

/* prevent callout */
.u-nocallout { -webkit-touch-callout: none; }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

/* Hide visually and from screenreaders, but maintain layout */
.u-invisible { visibility: hidden; }